html {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: #c8c6ca;
  color: #000;
}

.nav a {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: #fff;
}

li {
  list-style-type: none;
  display: inline-block;
}

.designed {
  position: relative;
  color: #fff;

}

.designed-content {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}

p {
  font-family: 'Playfair Display', serif;
}

.footer {
  background-color: #c8c6ca;
  color: #000;
}
